@model EcommerceStore.Models.ViewModels.Pages.PageVM

@{
    ViewBag.Title = "Page Details";
}
<style>
    p {
        padding-left:0px;
        padding-top: 0px;
    }
</style>
<h3>Page Details</h3>
<div>
    @Html.ActionLink("Edit", "EditPage", new { id = Model.Id }) |
    @Html.ActionLink("Back to Pages", "Index")
</div>
<div class="col-md-12">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body):
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>
    </dl>
</div>

