<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ecommerce Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row" style="padding-left:15px; padding-right:15px; margin:0;">
            <div class="row" style="border-bottom: 1px solid #dadada; margin-bottom: 10px;">
                <div class="col-sm-12 col-md-6" style="margin-top:20px; padding-left: 0; padding-right:0;">
                    @if (Request.IsAuthenticated && User.IsInRole("User") || User.IsInRole("Admin"))
                    {
                        <span class="welcomemsg">WELCOME BACK @Html.Action("UserNavPartial", "Account", new { area = "" })! <a href="/account/logout"> Logout</a></span>
                    }
                    else
                    {
                        <span class="welcomemsg">WELCOME VISTOR YOU CAN <a href="/account/login">LOGIN</a> OR <a href="/account/create-account">CREATE AN ACCOUNT</a></span>
                    }
                </div>
                <div class="col-sm-12 col-md-3 pull-right" style="margin-top:20px; padding-left: 0; padding-right:0;">
                    <ul class="pagesmenu">
                        @Html.Action("PagesMenuPartial", "Pages")
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3 pull-right" style="margin-top:20px; text-align: right; padding-left: 0; padding-right:0;">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <ul class="adminarea">
                            <li>@Html.ActionLink("Admin Area", "Orders", "Shop", new { area = "Admin" }, null)</li>
                        </ul>
                    }
                    else
                    {
                        if (ViewBag.Title != "Cart Details")
                        {
                            <ul class="">
                                @Html.Action("CartPartial", "Cart")
                            </ul>
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="logo col-sm-12 col-md-6" style="padding-left: 0; padding-right:0;">
                    <a href="/"><img src="~/Content/img/jewelrylogo.png" /></a>
                </div>
                <div class="col-sm-12 col-md-4" style="border-right: #808080 1px solid; text-align: right; font-size: 16px; margin-top:20px;">
                    <span style="font-weight:bold;">
                        FREE SHIPPING
                    </span><br />
                    <span style="font-size: 14px;">ON ORDERS OVER $99</span>
                </div>
                <div class="col-sm-12 col-md-2" style="font-size: 16px; margin-top:20px;text-align: right;">
                    1-800-877-877<br />
                    <span style="font-size: 12px;">MON - SAT: 9AM - 5PM</span>
                </div>
            </div>
        </div>
        <div class="nav navbar-inverse" style="background: transparent;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse catmenu-container">
                @if (ViewBag.Title != "Create Account"
            && ViewBag.Title != "User Profile"
            && ViewBag.Title != "Orders")
                {
                    <ul class="catmenu navbar-collapse collapse">
                        @Html.Action("CategoryMenuPartial", "Shop")
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <div class="ajaxbg"><span><img src="~/Content/img/Spinner-1s-150px.gif" /></span></div>

            @if (ViewBag.Title == "Home")
            {
                <div class="col-xs-12 col-md-12">
                    <a href="/shop/category/featured"><img style="width:100%;" src="~/Content/img/slide1.png" /></a>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-sm-12 col-md-4">
                        <a href="/shop/category/rings"><img style="width:100%;" src="~/Content/img/ringsAd.png" /></a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a href="/shop/category/necklaces"><img style="width:100%;" src="~/Content/img/necklaceAd.png" /></a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a href="/shop/category/brooches"><img style="width:100%;" src="~/Content/img/broochesAd.png" /></a>
                    </div>
                </div>
                <div class="row featureproducts">
                    @Html.Action("FeaturedProductPartial", "Shop", new { name = "Featured" })
                </div>
            }


            @if (ViewBag.Title == "User Profile")
            {
                <div class="col-xs-12 col-md-12">
                    <ul style="list-style:none; padding-left: 0; margin-top: 20px;">
                        <li><a style="font-size: 18px;" href="/account/orders">Go to Orders</a></li>
                    </ul>
                </div>
            }

            @if (ViewBag.Title == "Orders")
            {
                <div class="col-xs-12 col-md-12">
                    <ul style="list-style:none; padding-left: 0; margin-top: 20px;">
                        <li><a style="font-size: 18px;" href="/account/user-profile">My Account</a></li>
                    </ul>
                </div>
            }

            @if (ViewBag.Sidebar == "Yes")
            {
                <div class="col-xs-12 col-md-9">
                    @RenderBody()
                </div>
                <div class="col-xs-12 col-md-3">
                    @Html.Action("SidebarPartial", "Pages")
                </div>
            }
            else
            {
                <div class="col-xs-12 col-md-12">
                    @RenderBody()
                </div>
            }
        </div>
    </div>
    <footer>
        <div class="row footerlinks">
            <div class="col-sm-12 col-md-3">
                <h4>INFORMATION</h4>
                <ul>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">DELIVERY INFO</a></li>
                    <li><a href="#">PRIVACY POLICY</a></li>
                    <li><a href="#">TERMS &amp; CONDITIONS</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <h4>CUSTOMER SERVICE</h4>
                <ul>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">RETURNS</a></li>
                    <li><a href="#">SITE MAP</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <h4>EXTRAS</h4>
                <ul>
                    <li><a href="#">BRANDS</a></li>
                    <li><a href="#">GIFT VOUCHERS</a></li>
                    <li><a href="#">AFFILIATES</a></li>
                    <li><a href="#">SPECIALS</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <h4>MY ACCOUNT</h4>
                <ul>
                    <li><a href="#">MY ACCOUNT</a></li>
                    <li><a href="#">ORDER HISTORY</a></li>
                    <li><a href="#">LOGIN</a></li>
                    <li><a href="#">NEWSLETTER</a></li>
                </ul>
            </div>
        </div>
        <div class="copyrighttext">
            <p>&copy; @DateTime.Now.Year - My Jewelry Store</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
